{% extends 'base.html' %}
{% block content %}
<div style="
    border-radius: 1rem;
    margin: 2rem;
    text-align: center;
  ">
  <h1 style="font-family: 'Gaegu', cursive;">Hello World LIST!</h1>
  <form action="/account/hello_world/" method="POST">
    {% csrf_token %}
    <div>
      <input type="text" name="hello_world_input" placeholder="insert">
    </div>
    <input type="submit" class="btn btn-primary" value="POST" />
  </form>


  <!-- DB 정보 접근 및 장고 템플릿 내 for loop -->
  {% if hello_world_list %}
  {% for hello_world in hello_world_list %}
  <h5>
    {{ hello_world.text }}
  </h5>
  {% endfor %}
  {% endif %}

</div>
{% endblock %}